
<MudDrawerHeader>
    <MudText Typo="Typo.h6">Settings</MudText>
</MudDrawerHeader>
<MudNavMenu>
    <MudList>
        <div id="install">
            <MudListItem Avatar="@Icons.Material.Filled.InstallMobile">
                        Install Mobile App
                    </MudListItem>
                    <MudDivider DividerType="DividerType.Inset" />
        </div>
        <MudListItem>
            <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme"/>
            <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                                 Icon="@Icons.Material.Filled.ModeNight" Color="@Color.Dark"
                                 ToggledIcon="@Icons.Material.Filled.WbSunny" ToggledColor="@Color.Default"/>
            Light/Dark Mode
        </MudListItem>
    </MudList>

</MudNavMenu>

@code{
    private MudTheme _theme = new();
    private bool _isDarkMode = true;
    public bool AlarmOn { get; set; }
}